/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 May 2020, 15:28:09
    Author     : oisinnolan
*/

.content {
    display: flex;
    flex-direction: column;
}

.titleContainer {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.chartContainer {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 80%;
}

.chartTitle {
    margin-bottom: 30px;
    margin-left: 20px;
}

.chart {
    margin-bottom: 50px;
}

.topFiveMediumsContainer {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 10px;
}

.topFiveTitle {
    margin-left: 20px;
}