/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 May 2020, 20:03:56
    Author     : oisinnolan

    This file will store some general styles that can be used
    on any of the pages. It should store commonly used
    styles such as those for generic buttons, colours
    etc.

    Colours used:
    Dark purple: #0a0f50 (rgb(10, 15, 80))
    Light pink: #ffedef
    Pink: #f76583 (rgb(247, 101, 131))
    Blue: #71a9ec
    Light blue: #d1deef
    Error red: #f53158
*/

@font-face{ 
    font-family: OpenSans;
    src: url(../resources/font/OpenSans-Regular.ttf);
}

@font-face{
    font-family: OpenSansBold;
    src: url(../resources/font/OpenSans-Bold.ttf);
}

body {
    font-family: OpenSans;
    margin: 0;
}

.content {
    margin-bottom: 50px;
}

.navbar {
    display: flex;
    align-items: center;
    background: #0a0f50;
    height: 50px;
}

.navLogo {
    width: 50px;
    height: 50px;
    filter: #f76583;
    webkit-filter: #f76583;
}

.navItem {
    margin-left: 15px;
    text-decoration: none;
}

.smallText {
    font-size: 11pt;
}

.mediumText {
    font-size: 14pt;
}

.logoText {
    font-size: 70pt;
    margin-bottom: -28px;
    margin-left: -31px;
}

.pink {
    color: #f76583;
}

.purple {
    color: #0a0f50;
}

.blue {
    color: #71a9ec;
}

.lightPinkBack {
    background: #ffedef;
}

.lightBlueBack {
    background: #d1deef;
}

.purpleBack {
    background: #0a0f50;
    color: white;
}

.bold {
    font-family: OpenSansBold;
}

.flexRight {
    margin-left: auto;
    margin-right: 15px;
}

.content {
    width: 100%;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.bigLogo {
    width: 180px;
    height: 180px; 
}

.bigText {
    font-size: 20pt;
}

.hugeText {
    font-size: 30pt;
}

.zodiacIconsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
}

.zodiacIcon {
    width: 60px;
    height: 60px;
    margin: 20px;
}

.introText {
    text-align: center;
    width: 70%;
    margin-left: 15%;
    font-style: italic;
}

.fullBtnPurple {
    background: #0a0f50;
    padding: 7px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    text-decoration: none;
    font-size: 15pt;
    border: 2px solid #0a0f50;
    border-radius: 4px;
    margin: 5px;
    font-family: inherit;
}

.bareBtnPurple {
    padding: 7px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    color: #0a0f50;
    text-decoration: none;
    font-size: 15pt;
    border: 2px solid #0a0f50;
    border-radius: 4px;
    margin: 5px;
    font-family: inherit;
}

.fullBtnPurple:hover {
    cursor: pointer;
    color: #f76583;
    transition: 0.5s;
}

.bareBtnPurple:hover {
    cursor: pointer;
    border: 2px solid #f76583;
    color: #f76583;
    transition: 0.5s;
}

.fullBlueHover:hover {
    cursor: pointer;
    color: #71a9ec;
    transition: 0.5s;
}

.bareBlueHover:hover {
    cursor: pointer;
    border: 2px solid #71a9ec;
    color: #71a9ec;
    transition: 0.5s;
}

.landingBtnContainer { 
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.formContainer {
    margin-top: 10px;
    margin-bottom: 50px;
    width: 50%;
    margin-left: 25%;
}

.formHeader {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formGroup {
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    color: #0a0f50;
}

.formLabel {
    margin-right: 5px;
}

.formBtnContainer {
    width: 90%;
    margin-left: 5%;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.splitForm {
    justify-content: space-between;
    
}

.inputField {
    border: none;
    border-radius: 4px;
    font-size: 11pt;
    padding: 10px;
    width: 100%;
    color: #0a0f50;
}

.inputField::placeholder {
    color: #0a0f50;
}

.splitFormElem {
    width: 43%;
}

.errorTextContainer {
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    
}

.errorText{
    margin-top: 25px;
    margin-bottom: 10px;
    color: #f53158;
    text-align: center;
}

.employeLoginLinkContainer {
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* Snackbar styles -- snackbar code from w3schools
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}